.login{
  background: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .login_box{
    width: 400px;
    img{
      width: 200px;
      display: block;
      margin: 0 auto 20px;
    }
  }
}